.tableContenido tbody tr td table{
	width:100%;
	border-spacing: 0px;
	border-collapse: none;
	border-color: #000000;
}


.nihilo .dojoxGridHeader .dojoxGridCell { 
	border-collapse: 2px;
	border-color: #fff #fff #ddd #fff;
	padding: 0px;
	background-color: #FFF;
	color: #545454 !important;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 40px;
	font-size: 20px;
	padding-bottom: 1px;	
}

.dojoxGridCell {
	border: 0px solid ;
	border-color: #FFF;
	border-right-color: #FFF;
	padding: 13px 13px 13px 13px;
	text-align: left;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	
}

.nihilo .dojoxGridCell {
	border: 1px solid #ddd;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
}

.nihilo .dojoxGridRowOdd {
	background-color: #f9f9f9;
}


.nihilo .dojoxGrid  {
	background-color:  #fff;
	
}

.nihilo .dojoxGridHeader {
	background-color:  #FFF;
	
	
}

.div.dojoxGridHeader {
	height: 250px;
	
}
.dojoxGridHeader {
	position: absolute;
	overflow: visible;
	cursor: default;
}

.pagination>li>span.pager-current {
    border-bottom: solid 1px #B92025;
    color: #141414;
}

